<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <title>Rails Chatbot AI</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
  <body class="flex justify-center bg-slate-900 w-full py-12 px-4 h-screen items-center">
    <%= yield %>
  </body>

  <style type="text/css">
    #loading {
      display: none;
      transform: translate(-50%, -50%);
    }
  </style>
</html>
